@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor1: #1a1a3b;
    --cor2: #2e2e2e;
    --cor3: #32ff7e;
    --cor4: #ffffff;

    --fonte-padrão: "Open Sans", sans-serif;
    --fonte-titulos: "Montserrat", sans-serif;
    --fonte-secundaria: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-secundaria);
    background-color: var(--cor4);
}

header {
    width: 100%;
    height: 230px;
    background: linear-gradient(to bottom,  #08082c, #2e2e2e);
    margin: auto;
}

header > h1 {
    font-family: var(--fonte-titulos);
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    font-size: 4em;
    padding: 25px;
}

header > p {
    font-family: var(--fonte-titulos);
    text-align: center;
    color: #ffffff; 
    font-size: 1.6em;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 53px;
}

header > nav > a {
    font-family: var(--fonte-titulos);
    text-align: center;
    font-size: 1.1em;
    color: var(--cor4);
    padding: 10px 90px 10px 90px;
    max-width: 500px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    color: var(--cor4);
    background-color: var(--cor1);
    border-radius: 6px;
    transition: 0.4s;
    text-decoration: underline;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: var(--cor2);
}

